* {
    margin: 0;
}
body {
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 5px #000;
    
}
#videobackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
   
    
}
#videobackground video {
    width: 150%;

 
}
main {
    width: 85%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    top: 0;
    
}
header {
    height: 8em;
    background-color: rgba(189, 183, 107, 0.30);
    
    
}

section {
    min-height: 20em; 
    background-color: rgba(189, 183, 107, 0.30);
}
footer {
    height: 4em;
    background-color: rgba(136, 124, 231, 0.4);
}
